@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
	--bs-primary: #2ecc71;
	--bs-secondary: #34495e;
	--bs-info: #95a5a6;
	--bs-light: #ecf0f1;
	--bs-gray: #bdc3c7;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--bs-secondary);
}

body, html{
	height: 100%;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a{
	color: inherit;
	text-decoration: none;
}

a:hover{
	color: inherit;
}

ul, ol, li{
	padding: 0;
	margin: 0;
}

.page-holder {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.container{
	max-width: 1174px;
	width: 100%;
}

.header{
	position: fixed;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	background: #fff;
}

.header-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	
}

.menu-burger {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 3;
	box-shadow: 0px 0px 5px var(--bs-secondary);
	border-radius: 10px;
	z-index: 1000;
}

.menu-burger::before, .menu-burger::after {
	content: '';
	background-color: #a0a0a0;
	position: absolute;
	width: 60%;
	height: 2px;
	left: 10px;
	transition: all 0.3s linear;
}

.menu-burger::before {
	top: 15px;
}

.menu-burger.active{
	box-shadow: 0px 0px 5px #fff;
}

.menu-burger.active ~ .user-nav-burger{
	box-shadow: 0px 0px 5px #fff;
}

.menu-burger.active::before {
	transform: rotate(45deg);
	top: 24px;
}

.menu-burger::after {
	bottom: 15px;
}

.menu-burger.active::after {
	transform: rotate(-45deg);
	bottom: 24px;
}

.menu-burger span {
	position: absolute;
	background-color: #a0a0a0;
	width: 60%;
	height: 2px;
	left: 10px;
	top: 25px;
	transition: all 0.3s linear;
}

.menu-burger.active span {
	transform: scale(0);
}

.menu {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background-color: var(--bs-secondary);
	color: #fff;
	padding: 120px 15px 15px;
	transition: all 0.3s linear;
	z-index: 999;
}

.menu.active{
	left: 0;
}

.menu-list{
	text-transform: uppercase;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-item{
	position: relative;
	margin-bottom: 25px;
}

.menu-item:last-child{
	margin-bottom: 0;
}

.menu-link{
	padding: 5px;
	font-size: 14px;
	position: relative;
	display: inline-block;
}

.menu-list.w-leaf .menu-link::after{
	content: '';
	position: absolute;
	top: 100%;
	right: 50%;
	transform: translate(50%, 0);
	width: 11px;
	height: 11px;
	background-image: url(./img/sprite-icons.png);
	background-position: -35px -69px;
	background-size: 224px 90px;
	background-repeat: no-repeat;
}

.menu-list.w-leaf .menu-item:last-child .menu-link::after{
	display: none;
}

.header-logo{
	display: inline-block;
	margin: 0;
}

.logo-img{
	width: 150px;
	height: 60px;
}

.user-nav-burger {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 3;
	box-shadow: 0px 0px 5px var(--bs-secondary);
	border-radius: 10px;
	z-index: 1000;
}

.user-nav-burger span{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	background-image: url(./img/sprite-icons.png);
	background-size: 181px 73px;
	background-repeat: no-repeat;
	transition: all 0.2s linear;
	background-position: -140px -38px;
}

.user-nav {
	position: absolute;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100vh;
	background: #fff;
	padding: 120px 15px 15px;
	transition: all 0.3s linear;
	z-index: 999;
}

.user-nav.active{
	right: 0;
}

.header-actions{
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}

.header-info{
	display: none;
}

.contact-link{
	display: block;
	transition: color 0.2s linear;
}

.contact-link::before{
	content: '';
	display: inline-block;
	transform: translate(-3px, 3px);
	width: 18px;
	height: 15px;
	background-image: url(./img/sprite-icons.png);
	background-size: 224px 90px;
	background-repeat: no-repeat;
}

.tel-link::before{
	background-position: -153px -70px;
}

.tel-link span{
	font-weight: 700;
}

.form-control {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-gray);
	background-color: var(--bs-light);
	border: none;
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 0;
	margin-right: 0;
}

.form-control[type="search"]:focus{
	box-shadow: none;
	color: var(--bs-secondary);
	background-color: var(--bs-light);
	border: none;
}

.form-control[type="search"]::placeholder{
	color: var(--bs-gray);
}

.form-control[type="search"]:hover{
	color: var(--bs-secondary);
	background-color: var(--bs-light);
	border: none;
}

.form-control[type="search"]:hover::placeholder,
.form-control[type="search"]:focus::placeholder{
	color: #34495e;
}

.form-control[type="search"]:hover+button::before,
.form-control[type="search"]:focus+button::before{
	background-position: -199px -28px;
}

.search-form{
	display: flex;
	align-self: center;
}

.search-form button[type="submit"]:not(:disabled){
	display: inline-block;
	position: relative;
	width: 45px;
	height: 40px;
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem;
	background-color: var(--bs-light);
	border: 0;
}

.search-form button::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -10px);
	width: 20px;
	height: 20px;
	background-image: url(./img/sprite-icons.png);
	background-position: -198px -2px;
	background-size: 224px 90px;
	background-repeat: no-repeat;
}

.header-user{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-user-account{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 15px;
	list-style-type: none;
}

.account-item{
	color: var(--bs-secondary);
	transition: all 0.2s linear;
}

.account-item::before{
	content: '';
	display: inline-block;
	transform: translate(4px, 3px);
	width: 18px;
	height: 18px;
	background-image: url(./img/sprite-icons.png);
	background-size: 224px 90px;
	background-repeat: no-repeat;
	transition: all 0.2s linear;
}

.account-item.sign-in::before{
	background-position: -142px -29px;
}

.account-item.sign-up::before{
	background-position: -169px -29px;
}

.account-item.sign-in::after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 16px;
	background-color: var(--bs-light);
	transform: translate(0, 3px);
}

.basket{
	border-radius: .3rem;
	background-color: var(--bs-light);
	padding: 10px 20px;
	transition: all 0.3s linear;
	display: flex;
}

.basket-text p{
	color: var(--bs-primary);
	padding: 0;
	margin: 0;
}

.basket-text span{
	display: inline-block;
	color: var(--bs-secondary);
	margin-left: 10px;
}

.basket-icon{
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	transition: all 0.3s linear;
	margin-right: 20px;
}

.basket-icon::before{
	content: '';
	display: inline-block;
	width: 25px;
	height: 20px;
	background-image: url(./img/sprite-icons.png);
	background-position: -56px -67px;
	background-size: 224px 90px;
	background-repeat: no-repeat;
	transform: translate(12px, 15px);
}

main{
	margin-top: 100px;
}

.banner-wrapper{
	display: flex;
	flex-direction: column;
}

.sidebar{
	display: none;
}

.small-catalog{
	display: flex;
	flex-direction: column;
}

.small-catalog-title{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	background: var(--bs-primary);
	text-align: center;
	padding: 16px 0;
	position: relative;
	margin: 0;
	border: 0;
}

.small-catalog-title::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	display: block;
	width: 25px;
	height: 25px;
	background-image: url(./img/sprite-icons.png);
	background-position: 0px -62px;
	background-size: 224px 90px;
	background-repeat: no-repeat;
}

.small-catalog-item{
	display: block;
	background: var(--bs-light);
	color: var(--bs-secondary);
	position: relative;
	width: 100%;
	border: 0;
	padding: 10px;
}

.small-catalog-item::after {
	content: '';
	background: var(--bs-primary);
	width: 100%;
	height: 1px;
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0;
}

.small-catalog-item:last-of-type::after{
	display: none;
}

.small-catalog-item+div{
	background: var(--bs-primary);
	
}

.small-catalog-item+div .nav-link{
	color: #fff;
	position: relative;
	padding-left: 25px;
}

.small-catalog-item+div .nav-link::after{
	content: '';
	background: #fff;
	width: 100%;
	height: 1px;
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0;
}

.small-catalog-item+div .nav-link:last-of-type::after{
	display: none;
}

.banner-content-text {
	font-size: 19px;
	text-align: center;
}

.banner .slider.slick-slider.slick-dotted{
	margin-bottom: 30px;
}

.slider{
	position: relative;
}

.slick-arrow{
	display: none !important;
}

.slick-dots{
	position: absolute;
	left: 0;
	bottom: 20px;
}

.slick-dots li button,
.slick-dots li button::before{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid #fff;
	opacity: 1;
}

.slick-dots li button::before{
	content: '';
}

.slick-dots .slick-active button,
.slick-dots .slick-active button::before{
	background: #fff;
	opacity: 1;
}

.slider-item{
	width: 863px;
	height: 510px;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.banner-content{
	position: relative;
	
}

.banner-content-info{
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	top: 30px;
	text-align: center;
	z-index: 10;
	
}

.banner-content-text{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 300;
}

.btn-primary{
	background-color: var(--bs-primary);
	border: 0;
}

.btn-group-lg > .btn, .btn-lg {
	padding: 16px 45px;
	font-size: 16px;
	border-radius: .3rem;
}

.banner::before,
.about::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(46, 204, 113, 0.5);
	z-index: -1;
}

.banner,
.about {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 30px 0;
}

.sidebar{
	max-width: 295px;
	margin-right: 30px;
}

.sidebar-title{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	background: var(--bs-primary);
	text-align: center;
	padding: 22px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	margin: 0;
}

.sidebar-title::before{
	content: '';
	position: absolute;
	top: 18px;
	left: 42px;
	display: block;
	width: 25px;
	height: 25px;
	background-image: url(./img/sprite-icons.png);
	background-position: 0px -62px;
	background-size: 224px 90px;
	background-repeat: no-repeat;
}

.sidebar .nav .nav-item{
	background: var(--bs-light);
	transition: background 0.3s linear;
	position: relative;
}

.sidebar .nav .nav-item::before{
	content: '';
	background: var(--bs-primary);
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	display: block;
	top: 50%;
	left: 15px;
	transform: translate(0, -50%);
}

.sidebar .nav .nav-item::after{
	content: '';
	background: var(--bs-primary);
	width: 88%;
	height: 1px;
	position: absolute;
	display: block;
	bottom: 0;
	left: 6%;
}

.sidebar .nav .nav-item:last-child::after{
	display: none;
}

.sidebar .nav .nav-item .nav-link{
	padding: 1.44rem 1.4rem 1.44rem 1.813rem;
	color: var(--bs-secondary);
}

.sidebar .nav .nav-item:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sub-nav {
	position: absolute;
	top: -10000%;
	left: 0;
	opacity: 0;
	width: 263px;
	border-left: 2px solid transparent;
	transition: opacity 0.3s linear;
	z-index: 100;
}

.nav-item>.sub-nav .nav-item{
	background: var(--bs-primary);
	color: #fff;
}

.nav-item>.sub-nav .nav-item::before{
	background: #fff;
}

.nav.sub-nav .nav-item::after{
	background: #fff;
}

.nav-item>.sub-nav .nav-item:last-child{
	border-radius: 0;
}

.features{
	position: relative;
	text-align: center;
	padding: 80px 0;
	color: var(--bs-secondary);
}

.features::before{
	content: '';
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: var(--bs-light);
	z-index: -1;
}

.title{
	margin-bottom: 64px;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--bs-secondary);
}

.about-title.title{
	color: #fff;
}

.features-item{
	margin-bottom: 50px;
}

.features-item-img{
	width: 100px;
	height: 100px;
	margin: 0 auto 16px;
}

.features-item-text{
	margin: 0 auto;
	max-width: 245px;
	font-size: 20px;
}

.products{
	margin: 80px 0;
	position: relative;
}

.btn-secondary{
	background-color: var(--bs-light);
	color: var(--bs-secondary);
	border: 0;
	font-size: 14px;
	padding: 10px;
	font-weight: 700;
	position: relative;
}

#myTab .btn-secondary:focus::before,
#myTab .btn-secondary.active::before{
	content: '';
	display: block;
	position: absolute;
	bottom: -10%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-top: 7px solid var(--bs-secondary); 
}

.btn-secondary:hover,
#myTab .btn-secondary.active{
	background-color: var(--bs-secondary);
	color: #fff;
}

#myTab .btn-secondary:focus{
	background-color: var(--bs-secondary);
	color: #fff;
	box-shadow: none;
}

.products .nav-tabs{
	border-bottom: 0;
}

.products-item{
	text-align: center;
	margin-bottom: 20px;
}

.products-item-img{
	width: 260px;
	height: 260px;
	border: 1px solid var(--bs-light);
	transition: border 0.2s linear;
	position: relative;
	margin: 0 auto 20px;
}

.products-item-text{
	display: block;
	max-width: 260px;
	margin: 0 auto;
	max-height: 46px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.products-item-buy{
	display: block;
}

.products-item-price{
	font-size: 20px;
	color: var(--bs-primary);
}

.products-item-price span{
	color: var(--bs-gray);
	text-decoration: line-through;
	margin-right: 10px;
}

.products .btn-sm{
	max-width: 170px;
	padding: 10px 50px;
	margin-bottom: 17px;
}

.products-item-buy{
	color: var(--bs-info);
}

.products-item-buy::after{
	content: '';
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 2px;
	border-top: 1px dashed var(--bs-info);
}

.products-item-img::before{
	position: absolute;
	display: block;
	border-radius: 50%;
	border-top-right-radius: 0;
	width: 50px;
	height: 50px;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 14px;
	box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.4);
}

#bestseller .products-item-img::before{
	content: 'Хит';
	background: #e9711f;
	padding: 13px;
}

#sales .products-item-img::before{
	content: 'Акция';
	background: #a550a3;
	padding: 13px 0 0;
}

#new .products-item-img::before{
	content: 'New';
	background: #4989c5;
	padding: 13px;
}

.products-item-img span{
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 50%;
	border-bottom-left-radius: 0;
	width: 30px;
	height: 30px;
	display: block;
	background-color: #1abc9c;
	box-shadow: 1px -1px 3px 0 rgba(0, 0, 0, 0.3);
}

.products-item-img span.in-stock::before{
	content: 'В наличии';
	position: absolute;
	width: 125px;
	height: 30px;
	border-radius: 5px;
	border-top-left-radius: 15px;
	color: #1abc9c; 
	background-color: var(--bs-light);
	bottom: 0;
	left: 0;
	padding: 4px 10px 5px 35px;
	z-index: -1;
}

.products-item-img span.in-stock::after{
	content: '';
	position: absolute;
	bottom: 9px;
	left: 10px;
	width: 9px;
	height: 14px;
	background: transparent;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #fff;
	transform: rotate(45deg);
}

.products-item-img img{
	position: relative;
	z-index: -2;
}

.products-item-img span.out-of-stock{
	background-color: #e94436;
}

.products-item-img span::before{
	position: absolute;
	height: 30px;
	border-radius: 5px;
	border-top-left-radius: 15px;
	background-color: var(--bs-light);
	bottom: 0;
	left: 0;
	padding: 4px 10px 5px 35px;
	z-index: -1;
}

.products-item-img span.out-of-stock::before{
	content: 'Нет в наличии';
	width: 160px;
	color: #e94436; 
	
}

.products-item-img span.out-of-stock::after{
	content: '\00D7';
	position: absolute;
	bottom: 9px;
	left: 0;
	width: 30px;
	height: 30px;
	background: transparent;
	color: #fff;
	font-size: 30px;
}

.p-relative{
	position: relative;
}

#myTab ~ .btn-secondary{
	display: none;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	position: absolute;
	top: 0;
}

#myTab ~ .btn-secondary.prevtab{
	left: 0;
}

#myTab ~ .btn-secondary.nexttab{
	right: 0;
}

#myTab ~ .btn-secondary::before{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-left: 3px solid var(--bs-secondary);
	border-bottom: 3px solid var(--bs-secondary);
	top: 50%;
	left: 50%;
	transform: translate(-30%, -50%) rotate(45deg); 
}

#myTab ~ .btn-secondary.nexttab::before{
	transform: translate(-70%, -50%) rotate(-135deg);
}

#myTab ~ .btn-secondary:hover::before,
#myTab ~ .btn-secondary:focus::before{
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

#myTab ~  .btn-secondary:focus{
	background: var(--bs-secondary);
	box-shadow: none;
}

.products #myTab{
	position: relative;
}

.products #myTab::before{
	content: '';
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 2px;
	background: var(--bs-light);
	top: 50%;
	left: 0;
}

.products .more-info{
	font-size: 20px;
	font-weight: 700;
	
}

.more-info{
	text-align: center;
	color: var(--bs-info);
	position: relative;
	display: inline-block;
}

.more-info::after{
	content: '';
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 3px;
	border-top: 2px dashed var(--bs-info);
}

.about{
	color: #fff;
}

.about p{
	margin-bottom: 20px;
	line-height: 1.4;
}

.about-img{
	width: 265px;
	height: 190px;
	float: none;
	margin: 0 auto 50px;
}

.about-bg-img img{
	object-fit: cover;
}

.about-title{
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.news{
	margin: 80px 0;
}

.news-item{
	max-width: 260px;
	margin: 0 auto;
}

.news-item-title{
	margin-bottom: 17px;
	font-size: 20px;
}

.news-item-img{
	width: 260px;
	height: 190px;
	margin: 0 auto 15px;
	border: 1px solid transparent;
}

.news-item-date{
	color: var(--bs-primary);
	position: relative;
	margin-bottom: 22px;
}

.news-item-date::before{
	content: '';
	display: inline-block;
	width: 18px;
	height: 21px;
	background-image: url(./img/sprite-icons.png);
	background-position: -90px -68px;
	background-size: 224px 90px;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 10px;
}

.news .more-info{
	color: var(--bs-primary);
}

.news .d-flex{
	justify-content: flex-end;
}

.news .more-info::after {
	border-top: 2px dashed var(--bs-primary);
}

.footer{
	background: var(--bs-secondary);
	padding: 15px 15px 0;
}

.footer-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.footer-contacts{
	color: #fff;
	padding: 30px 0;
	list-style-type: none;
}

.mail-link::before{
	background-position: -119px -70px;
}

.footer-socials{
	display: flex;
	align-items: center;
	list-style: none;
	margin-bottom: 30px;
}

.footer-socials-link{
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: var(--bs-primary);
	position: relative;
	overflow: hidden;
	transition: all 0.2s linear;
	margin: 0 10px;
}

.footer-socials-link::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(./img/sprite-icons.png);
	background-size: 224px 90px;
	background-repeat: no-repeat;
}

.footer-socials-link:hover{
	background: #fff;
}

.footer-socials-link.socials-vk::before{
	background-position: 10px 6px;
}

.footer-socials-link.socials-vk:hover::before{
	background-position: 9px -23px;
}

.footer-socials-link.socials-facebook::before{
	background-position: -48px 5px;
}

.footer-socials-link.socials-facebook:hover::before{
	background-position: -48px -25px;
}

.footer-socials-link.socials-twitter::before{
	background-position: -18px 6px;
}

.footer-socials-link.socials-twitter:hover::before{
	background-position: -19px -23px;
}

.footer-socials-link.socials-g-plus::before{
	background-position: -75px 6px;
}

.footer-socials-link.socials-g-plus:hover::before{
	background-position: -75px -23px;
}

.footer-socials-link.socials-instagram::before{
	background-position: -106px 6px;
}

.footer-socials-link.socials-instagram:hover::before{
	background-position: -106px -22px;
}

.copyright{
	color: var(--bs-primary);
	position: relative;
	height: 55px;
	text-align: center;
	width: 100vw;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	background: #2c3e50;
}

.copyright p{
	padding: 15px;
	margin: 0;
}

.scrollup {
	position: fixed;
	width: 36px;
	height: 36px;
	background-color: var(--bs-info);
	right: 30px;
	bottom: 60px;
	border-radius: 5px;
	cursor: pointer;
	display: none;
	z-index: 999;
	transition: all 0.2s linear;
}

.scrollup.up{
	bottom: 250px;
}

.scrollup:hover {
	background-color: var(--bs-secondary);
}

.scrollup:before{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 7px solid #fff;
	border-top: 7px solid transparent;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	top: 7px;
	left: 11px;
}

@media (min-width: 576px) {
	.title{
		font-size: 28px;
	}

	.logo-img{
		width: 175px;
		height: 70px;
	}

	.menu-burger {
		width: 60px;
		height: 60px;
	}

	.user-nav-burger {
		width: 60px;
		height: 60px;
	}

	.menu-burger::before, .menu-burger::after {
		height: 2px;
		left: 12px;
	}
	
	.menu-burger::before {
		top: 15px;
	}
	
	.menu-burger.active::before {
		top: 29px;
	}
	
	.menu-burger::after {
		bottom: 15px;
	}
	
	.menu-burger.active::after {
		bottom: 29px;
	}
	
	.menu-burger span {
		left: 12px;
		top: 30px;
	}

	.user-nav-burger span{
		background-size: 224px 90px;
		background-position: -178px -49px;
	}

	.menu, .user-nav{
		padding: 140px 15px 15px;
	}

	.header-actions{
		display: flex;
		flex-direction: column;
		
	}

	.header-user-account{
		flex-direction: row;
	}

	.basket{
		align-self: center;
	}

	main{
		margin-top: 110px;
	}

	.banner-content-text {
		font-size: 22px;
	}

	.banner-content-info{
		right: 25px;
		transform: translateX(0);
		text-align: end;
	}

	#myTab ~ .btn-secondary{
		display: block;
	}
}

@media (min-width: 768px) {
	.title{
		margin-bottom: 80px;
		font-size: 44px;
	}

	.logo-img{
		width: 252px;
		height: 102px;
	}

	main{
		margin-top: 142px;
	}

	.banner-content-text {
		font-size: 30px;
	}

	.about-img{
		float: left;
		margin-right: 30px;
		margin-bottom: 10px;
	}

	#myTab .btn-secondary{
		font-size: 16px;
		padding: 16px 28px;
	}

	#myTab ~ .btn-secondary{
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 5px;
		position: absolute;
		top: 8px;
	}
}

@media (min-width: 992px) {
	.header{
		position: relative;
	}

	.menu-burger {
		display: none;
	}

	.header-wrapper{
		flex-wrap: wrap;
		padding-bottom: 0;
	}

	.menu {
		padding: 20px 0;
		position: relative;
		left: 0;
		height: 70px;
		background-color: var(--bs-secondary);
		color: #fff;
		order: 5;
		margin-top: 30px;
		overflow: visible;
	}

	.menu::before{
		content: '';
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		background-color: var(--bs-secondary);
		z-index: -1;
	}

	.menu-list{
		flex-direction: row;
		justify-content: space-between;
	}

	.menu-list.w-leaf .menu-link::after{
		top: 50%;
		right: -10px;
		transform: translate(0, -50%);
	}

	.menu-item{
		margin-bottom: 0;
		transition: all 0.2s linear;
	}

	.menu-item:hover{
		color: var(--bs-primary);
	}

	.menu-item:last-child{
		margin-right: 0;
	}

	.user-nav-burger{
		display: none;
	}

	.user-nav{
		position: relative;
		right: 0;
		top: 0;
		height: auto;
		max-width: calc(100% - 260px);
		display: flex;
		justify-content: space-between;
		padding: 0;
		justify-self: flex-end;
	}

	.header-actions {
		margin-bottom: 0;
		justify-content: flex-end;
		margin: 0 auto;
	}

	.contact-link:hover{
		color: var(--bs-primary);
	}

	.header-info{
		list-style-type: none;
		display: block;
		margin: 0 auto 15px;
	}	

	.search-form{
		align-self: stretch;
	}

	.header-info-contact{
		margin: 0 0 10px;
	}

	.header-info-contact:last-child{
		margin: 0;
	}

	.account-item{
		color: var(--bs-info);
		transition: all 0.2s linear;
	}

	.account-item:hover{
		color: var(--bs-secondary);
	}

	.account-item.sign-in::before{
		background-position: -142px -2px;
	}

	.account-item.sign-in:hover::before{
		background-position: -142px -29px;
	}

	.account-item.sign-up::before{
		background-position: -169px -2px;
	}

	.account-item.sign-up:hover::before{
		background-position: -169px -29px;
	}
	
	.basket{
		align-self: stretch;
	}

	.basket:hover{
		background-color: #dededf;
	}

	.basket:hover .basket-icon{
		transform: scale(1.2);
	}

	main{
		margin-top: 0
		;
	}

	.banner{
		z-index: 50;
	}

	.banner-wrapper{
		flex-direction: row;
	}

	.small-catalog{
		display: none;
	}

	.sidebar{
		display: block;
	}

	.sidebar .nav .nav-item:hover{
		background: var(--bs-secondary);
	}
	
	.sidebar .nav .nav-item:hover .nav-link{
		color: #fff;
	}

	.sidebar .nav .nav-item:hover > .sub-nav {
		opacity: 1;
		top: 0;
		left: 100%;
	}

	.nav-item>.sub-nav .nav-item:hover{
		background: #27ae60;
	}

	.banner-content{
		max-width: calc(100% - 295px);
	}

	.slider{
		margin-bottom: 0;
	}

	.btn-primary:hover{
		background-color: var(--bs-secondary);
	}

	.products-item-buy:hover{
		color: var(--bs-primary);
	}
	
	.products-item-buy:hover::after{
		border-top: 1px dashed var(--bs-primary);
	}

	.products-item:hover .products-item-img{
		border: 1px solid var(--bs-primary);
	}

	.more-info:hover{
		color: var(--bs-secondary);
	}
	
	.more-info:hover::after{
		border-top: 2px dashed var(--bs-secondary);
	}
	
	.news-item:hover .news-item-img{
		border: 1px solid var(--bs-primary);
	}

	.scrollup {
		right: 150px;
	}

	.footer-menu{
		flex-direction: row;
		justify-content: space-between;
		padding: 45px 0;
	}

	.footer-menu .menu-item {
		margin: 0 8px;
	}

	.footer-menu .menu-list.w-leaf .menu-link::after {
		top: 50%;
		right: -14px;
		transform: translate(0, -50%);
	}

	.footer-socials {
		margin-bottom: 0;
	}

	.footer-contacts {
		padding: 0;
	}
}

@media (min-width: 1200px) {
	.menu-list.w-leaf .menu-link::after{
		right: -20px;
	}

	.header-actions {
		margin: 0 auto;
	}

	.header-info{
		display: flex;
		margin-bottom: 30px;
		padding: 0 30px;
	}	

	.header-info-contact{
		margin: 0 10px;
	}

	.products-item{
		margin-bottom: 0;
	}
	
	.features-item-img{
		margin: 0 auto 30px;
	}
	
	#myTab .btn-secondary{
		font-size: 20px;
		padding: 16px 44px;
		margin: 0 16px;
	}

	#myTab ~ .btn-secondary {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 5px;
		position: absolute;
		top: 12px;
	}

	.footer .row {
		flex-direction: row!important;
		align-items: center;
	}
	.footer-socials{
		margin-bottom: 0;
	}

	.sidebar-toggler{
		display: none;
	}

	.footer-menu .menu-item {
		margin: 0 20px;
	}

	.footer-menu .menu-list.w-leaf .menu-link::after {
		top: 50%;
		right: -28px;
		transform: translate(0, -50%);
	}	
}

